*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    opacity: 0.95;
}
button:hover {
    opacity: 1;
    transition: .3s;
}

h3 {
    text-align: center;
}

body {
    width: 100vw;
    height: 100vh;
}

.login_Wrap {
    width: 100%;
    height: 100vh;
    /* border: 15px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login_Wrap > h3 {
    font-size: 26px;
    font-family: 'Quicksand', sans-serif;
    color: #d0653b;
}
.login_Wrap > h3 > span {
    text-transform: uppercase;
    font-size: 28px;
    color: #000;
}
.login_Wrap form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error_message {
    padding: 6px 0 0 10px;
    color: #ba1d1dc3;
    font-size: 11px;
    font-family: monospace;
}
.success_message {
    padding: 2px 0 0 10px;
    color: #008000;
    font-size: 16px;
    font-family: monospace;
}
.form_group {
    display: flex;
    flex-direction: column-reverse;
    width: 350px;
    padding: .6rem .6rem .2rem .6rem;
    /* border: 1px solid black; */
}
.form_group input {
    caret-color: #d0653b;
    flex: 1;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 7px;
    padding: 12px 17px;
    height: 5.4vh;
    font-family: 'Fira Code';
    font-size: 13px;
    color: #272424;
}
.form_group input:focus {
    border: 1.5px solid #2725259a;
}
.form_group input[type="text"] {
    text-transform: uppercase;
}
.login_Wrap form div {
    margin-top: 4px;
}
.login_Wrap button {
    border: none;
    outline: none;
    padding: 12px;
    border-radius: 7px;
    color: #fff;
    background-color: #272424;
    font-family: 'Fira Code';
}
.form_action {
    width: 300px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}
.separator {
    margin-bottom: 25px;
    width: 300px;
    height: 1.5px;
    background-color: #2724243b;
}
.forgot_password {
    text-decoration: underline #151313a3;
    color: #000;
    font-family: monospace;
}
.signup_action {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.signup_action h3 {
    font-size: 23px;
    font-family: 'Quicksand Light';
    letter-spacing: 1px;
    padding-bottom: 11px;
}
